@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");
body {
    padding: 20px;
    background-color: #FFFDF6;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
#id {
    display: flex;
    align-items: center;
    gap: 10px;
}

#pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#pic:hover {
    transform: scale(1.1);
}

#name{
    margin: 0;
    line-height: 1px;
}

#cour{
    margin: 0;
    color : gray;
    font-weight: normal;
    line-height: 1px;
}

.txt {
    gap : 5px;
    font-family: Courier, monospace;
    font-size: 13px;
}

#contact {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    background: #DDEB9D;


    transition: background 0.2s ease-in;
}

#contact:hover {
    background: #A0C878;
}

#contact h2 {
    color: whitesmoke;
    margin: 0;
    font-family: "Consolas", "Arial Narrow", Arial, sans-serif;
    padding: 0;
    position: relative;
    z-index: 1;

    display: inline-block;
}

#contact h2 a{
    text-decoration: none;
    display: inline-block;
    color: #FAF6E9;
}

nav {
    position: absolute;
    top: 30px;
    right: 280px;
    width: 320px;
    height: 50px;
    padding: 0 10px 0 20px;
    background: #FAF6E9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    gap: 20px;
    font-family: Courier, monospace;
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #A0C878;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

a.active{
    color: black;
}
nav a:hover{
    color: black;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background: linear-gradient(45deg, #DDEB9D , #A0C878);
    border-radius: 20px;
    transition: 0.5s;
}

nav a:nth-child(1):hover~span{
    left: 0;
    right: 110px;
}
nav a:nth-child(2):hover~span{
    left: 110px;
    right: 220px;
}
nav a:nth-child(3):hover~span{
    left: 230px;
    right: 350px;
}
#bg{
    position: relative;
    display: flex;
    padding-top: 500px;
    align-items: center;
    justify-content: center;
    padding-bottom: 400px;
    gap : 60px;

}
#bg img{

    width: 30%;
    height: 30%;
    align-content: center;
    justify-content: center;
    opacity: 70%;
    border-radius:10%;
    box-shadow: 0 0 30px 10px rgba(255,255,255,0.9) inset;
    z-index: 3;
    transition: background 0.2s ease-out;

}
@keyframes blink {
    50% { border-color: transparent; }
}
#bg h2,
#bg h3{
    position: absolute;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 6px #A0C878;
    font-family: 'Figtree', "Times New Roman", Times, serif;
    z-index: 5;
}


#bg h2 {
    top: 5%;
    font-size: 5rem;
}

#bg h3 {
    top: 42%;
    font-size: 3.5em;
    text-align: left;

}

#bg h4 {
    position: absolute;
    top: 20%;
    color: black;
    background: transparent; /* ensure no box covers bgc */
    z-index: 5; /* always above background */
    margin: 0;
    padding: 0;
}

.pic{
    display: flex;
    width: 25px;
    height: 25px;
}
#ggs {
    padding-top: 30px;/* full viewport height */
    resize: both;
    overflow: auto;                /* full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;       /* vertical center */
    align-items: center;           /* horizontal center */
    position: relative;
    bottom: 100px;
}

#ggs ul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
}

#tabbg {
    position: absolute;
    background: linear-gradient(45deg, #FAF6E9 , #DDEB9D);
    padding: 25px 140px 25px 140px;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(45deg, #DDEB9D ,#A0C878);
    transition: 0.5s ease;
    z-index: -1;

}


#ch li:nth-child(1):hover ~ #tab {
    transform: translate(-288%, -50%);
}
#ch li:nth-child(2):hover ~ #tab {
    transform: translate(-50%, -50%);
}
#ch li:nth-child(3):hover ~ #tab {
    transform: translate(188%, -50%);
}
#ch {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 4;
}
#social {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
}

#social li {
    display: inline-block;
    margin: 0 30px;
    transition: transform 0.3s ease;
}
#social li:hover {
    transform: scale(1.1);
}
footer{
    background: linear-gradient(45deg, #DDEB9D , #A0C878);
    padding-top: 100px;
    padding-bottom: 30px;
    clip-path: polygon(0 0, 120% 60%, 100% 100%, 0 100%);
    margin: 0 -28px -40px -28px;
}

#left,#right{
    padding-top: 100px;
    gap: 50px;
    align-items: center;
    justify-items: center;
    transition: transform 0.5s ease;

}
.l , .r {
    padding: 30px;
}

#left{
    align-items: flex-start;
}
#right{
    align-items: flex-end;
}

#bgc {
    position: absolute;
    left: 0;
    width: 95.15em;
    height: 40em;
    top: 470px;
    background: linear-gradient(45deg, #DDEB9D , #A0C878);
    z-index: -1;
    margin-left: -30px;
    clip-path: polygon(
            0% 20%,    /* top-left shifted down */
            100% 0%,   /* top-right */
            100% 100%, /* bottom-right */
            0% 80%     /* bottom-left shifted up */
    );
}
#me {
    display: flex;            /* so child elements align inside */
    flex-direction: column;   /* pic + div stacked vertically */
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 0;/* space between pic and div */
}
#me img{
    margin-bottom: 40%;
    width: 600px;
    height: 337.5px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
}

